@* File: Views/UserManagement/ManageRoles.cshtml *@
@model SIMS.WebApp.ViewModels.ManageUserRolesViewModel

@{
    ViewData["Title"] = "Manage Roles";
}

<h1>Quản lý vai trò cho: @Model.UserName</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="UserId" />
            <div class="card">
                <div class="card-header">
                    <h2>Gán một vai trò duy nhất</h2>
                </div>
                <div class="card-body">
                    @* Dùng vòng lặp để tạo ra các radio button *@
                    @foreach (var roleName in Model.Roles)
                    {
                        <div class="form-check m-1">
                            @* - type="radio" để đảm bảo chỉ chọn được 1.
                                - name="@nameof(Model.SelectedRole)" để nhóm các radio lại với nhau.
                                - value="@roleName" là giá trị sẽ được gửi đi khi form được submit.
                                - @(Model.SelectedRole == roleName ? "checked" : "") để tự động chọn vai trò hiện tại của người dùng.
                            *@
                            <input type="radio"
                                   name="@nameof(Model.SelectedRole)"
                                   value="@roleName"
                                   class="form-check-input"
                                   @(Model.SelectedRole == roleName ? "checked" : "") />
                            <label class="form-check-label">
                                @roleName
                            </label>
                        </div>
                    }
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card-footer">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
                </div>
            </div>
        </form>
    </div>
</div>
